@font-face {
    font-family: "DM Sans";
    src: url("../font/DM_Sans/DMSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#contact_modal {
    display: none;
}

/* Style banner */
.photograph-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    border-radius: 5px;
    padding: 0 50px 0 50px;

}

.photographer-h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: -50px 0 5px 0;
}

.photographer-city {
    color: #901C1C;
    font-size: 24px;
    margin: 18px 0 18px 0;
}

.photographer-citation {
    quotes: none;
    color: #525252;
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.conteneur-img {
    width: 200px;
    border-radius: 50%;
}

.portait-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-section {
    padding: 0 100px 0 100px;
}

/* Style trie et compteur global */

.conteneur-like {
    background-color: #DB8876;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    position: fixed;
    z-index: 1;
    bottom: -20px;
    right: 50px;
}

.photographer-like {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    height: 102px;
}

.photographer-like::after {
    font: var(--fa-font-solid);
    content: "\f004";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
}

.photographer-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 102px;
}

.div-tri {
    display: flex;
    justify-content: space-between;
    width: 255px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    height: 69px;
}

.div-button {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 67px;
    position: relative;
    right: 0;
    z-index: 1;
}

.div-button:hover {
    height: 207px;
}

.buttonTri {
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    color: #ffffff;
    cursor: pointer;
    text-align: start;
    padding-left: 15px;
    position: relative;
}

.buttonTri:nth-child(1) {
    border-radius: 5px;
    position: relative;
}

.buttonTri:nth-child(1):before {
    font: var(--fa-font-solid);
    content: "\f107";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 27px;
    right: 15px;
}

.div-button:hover .buttonTri:nth-child(1):before {
    transform: rotate(180deg);
}

.div-button:hover .buttonTri:nth-child(1):after {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 7px;
    background-color: #ffffff;
}

.div-button:hover .buttonTri:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.buttonTri:nth-child(2) {
    display: none;
}

.buttonTri:nth-child(2):after {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 7px;
    background-color: #ffffff;
}

.div-button:hover .buttonTri:nth-child(2) {
    display: block;
}

.buttonTri:nth-child(3) {
    border-radius: 0 0 5px 5px;
    display: none;
}

.div-button:hover .buttonTri:nth-child(3) {
    display: block;
}

/* Style media */

.img-section {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
    gap: 10px 326px;
    color: #901C1C;
    font-size: 24px;
    margin-top: 45px;
}

.article-media {
    width: 350px;
    height: 351px;
    position: relative;
}

.figure-media {
    width: 350px;
    height: 351px;
    margin: auto;
    position: relative;
}

.item-media {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.figcaption-media {
    position: relative;
    width: 290px;
}

.number-likes {
    position: absolute;
    right: 1.5em;
    bottom: -0.3em;
}

.buttonHeart {
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0.811em;
    z-index: 0;
    border: none;
    background-color: #ffffff;
}

.buttonHeart::after {
    font: var(--fa-font-regular);
    content: "\f004";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

/* style Lightbox */

.section-lightbox {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.figure-lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65.844%;
    height: 96.09%;
    margin-top: 40px;
}

.media-lightbox {
    width: 1050px;
    height: 850px;
    border-radius: 5px;
    object-fit: cover;
}

.figcaption-lightbox {
    width: 83.805%;
    height: 40px;
    color: #901C1C;
    font-size: 24px;
    margin-top: 12px;
}

.previous-link {
    color: #901C1C;
    position: absolute;
    top: 43%;
    left: 20%;
    cursor: pointer;
}

.previous-link::before {
    font: var(--fa-font-solid);
    content: "\f104";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 48px;
}

.next-link {
    color: #901C1C;
    position: absolute;
    top: 43%;
    right: 20%;
    cursor: pointer;
}

.next-link::before {
    font: var(--fa-font-solid);
    content: "\f105";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 48px;
}

.button-modal {
    border: none;
    color: #901C1C;
    background-color: #ffffff;
    position: absolute;
    top: 37px;
    right: 19.5%;
    cursor: pointer;
}

.button-modal::before {
    font: var(--fa-font-solid);
    content: "\f00d";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
}










/* .modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
} */