@font-face {
    font-family: "DM Sans";
    src: url("../font/DM_Sans/DMSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    height: 9.66702470461869vh;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#contact_modal {
    display: none;
}

/* Style banner */
.photograph-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 32.223415682062296vh;
    margin: 0 100px;
    border-radius: 5px;
    padding: 0 50px 0 50px;

}

.div-title {
    position: relative;
}

.photographer-h1 {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    margin: -50px 0 5px 0;
}

.photographer-city {
    color: #901C1C;
    font-size: 1.5em;
    margin: 18px 0 18px 0;
}

.photographer-citation {
    quotes: none;
    color: #525252;
    font-size: 1.125em;
}

.contact_button {
    position: absolute;
    left: 45.6%;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    background-color: #DB8876
}

.conteneur-img {
    width: 200px;
    border-radius: 50%;
}

.portait-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-section {
    padding: 0 100px 0 100px;
}

/* Style trie et compteur global */

.conteneur-like {
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 500;
    position: fixed;
    z-index: 1;
    bottom: -20px;
    right: 50px;
}

.photographer-like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 102px;
}

.calcul-like {
    width: 45px;
    text-align: center;
}

.calcul-like+.fa-heart {
    color: #000000;
    font-size: 1em;
    margin-left: 4px;
}

.screenreader-text {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.photographer-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 102px;
}

.div-tri {
    display: flex;
    justify-content: space-between;
    width: 255px;
    font-size: 1.125em;
    font-weight: 700;
    margin-top: 5px;
    height: 69px;
    border-radius: 5px;
}

.div-btn-tris {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 67px;
    position: relative;
    right: 0;
    z-index: 1;
}

.div-btn-tris::after {
    content: "";
    width: 170px;
    height: 67px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.div-btn-tris:focus:after,
.div-btn-tris:hover:after {
    z-index: 0;
}

.buttonTri {
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    color: #ffffff;
    cursor: pointer;
    text-align: start;
    padding-left: 15px;
    position: relative;
}

.buttonTri:nth-child(1),
.buttonTri:nth-child(1):focus {
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.buttonTri:nth-child(1):before,
.buttonTri:nth-child(1):focus:before {
    content: "";
    position: absolute;
    width: 170px;
    height: 69px;
    left: 0;
}

.buttonTri:nth-child(1):after,
.buttonTri:nth-child(1):focus:after {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 7px;
    background-color: #ffffff;
    opacity: 0;
}

.buttonTri:nth-child(2) {
    display: none;
}

.buttonTri:nth-child(2):after {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 7px;
    background-color: #ffffff;
}

.buttonTri:nth-child(3) {
    border-radius: 0 0 5px 5px;
    display: none;
}

.div-btn-tris-click {
    height: 207px;
    box-shadow: 0px 6px 4px -2px rgba(0, 0, 0, 0.38);
}

.div-btn-tris-click:hover .div-btn-tris::after,
.div-btn-tris-click .div-btn-tris::after {
    z-index: 0;
}

.div-btn-tris-click:hover .buttonTri:nth-child(1):after,
.div-btn-tris-click:focus .buttonTri:nth-child(1):after,
.div-btn-tris-click .buttonTri:nth-child(1)::after {
    opacity: 1;
}

.div-btn-tris-click:hover .buttonTri:nth-child(1)::before,
.div-btn-tris-click .buttonTri:nth-child(1)::before {
    z-index: 2;
}

.div-btn-tris-click:hover .buttonTri:nth-child(1),
.div-btn-tris-click .buttonTri:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.div-btn-tris-click .buttonTri:nth-child(2),
.div-btn-tris-click .buttonTri:nth-child(3) {
    display: inline-block;
}

.fa-angle-down {
    position: absolute;
    top: 25.5px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
}

.div-btn-tris-click .fa-angle-down {
    transform: rotate(180deg);
    z-index: 1;
}

/* Style media */

.img-section {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
    gap: 10px 326px;
    color: #901C1C;
    font-size: 1.5em;
    margin: 45px 0 100px 0;
}

.article-media {
    width: 350px;
    height: 351px;
    position: relative;
}

.figure-media {
    width: 350px;
    height: 351px;
    margin: auto;
    position: relative;
}

.figure-media-video::after {
    font: var(--fa-font-solid);
    content: "\f04b";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: #000000;
}


.item-media {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    display: block;
}

.figcaption-media {
    position: relative;
    width: 270px;
}

.fa-circle-play {
    color: #000000;
    position: absolute;
    top: 0%;
    margin: -50px 0px 0 -114px;
    font-size: 2.813em;
    cursor: pointer;
    z-index: 11;
}

.number-likes {
    width: 40px;
    position: absolute;
    right: 1.1em;
    bottom: -0.01em;
    text-align: center;
}

.button-heart {
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 1.1em;
    z-index: 0;
    border: none;
    background-color: #ffffff;
}

.fa-heart {
    cursor: pointer;
}

.button-heart .fa-solid {
    color: #901C1C;
}

/* style Lightbox */

.section-lightbox {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.figure-lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65.844%;
    height: 96.09%;
    margin-top: 40px;
}

.media-lightbox {
    width: 1050px;
    max-width: calc(100vw - 757px);
    height: 850px;
    max-height: calc(100vh - 100px);
    border-radius: 5px;
    object-fit: cover;
}

.figcaption-lightbox {
    width: 83.805%;
    max-width: calc(100vw - 757px);
    height: 40px;
    color: #901C1C;
    font-size: 1.5em;
    margin-top: 12px;
}

.ul-link {
    margin: 0;
    padding: 0;
}

.li-link {
    list-style: none;
}

.previous-link {
    color: #901C1C;
    position: absolute;
    top: 43%;
    left: 20%;
    cursor: pointer;
}

.previous-link::before {
    font: var(--fa-font-solid);
    content: "\f104";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
}

.next-link {
    color: #901C1C;
    position: absolute;
    top: 43%;
    right: 20%;
    cursor: pointer;
}

.next-link::before {
    font: var(--fa-font-solid);
    content: "\f105";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
}

.button-modal {
    border: none;
    color: #901C1C;
    background-color: #ffffff;
    position: absolute;
    top: 37px;
    right: 19.5%;
    cursor: pointer;
}

.button-modal::after {
    font: var(--fa-font-solid);
    content: "\f00d";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #901C1C;
    font-size: 2.625em;
}

.no-scroll {
    overflow: hidden;
    height: 90.3vh;
}

.lightbox-modal-close {
    display: none;
}



/* style modale */

.contact_modal {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #C4C4C466;
}

.div_Modale {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 35px;
    width: 669px;
    height: 899px;
    background-color: #DB8876;
    border-radius: 5px;
    margin: auto;
    position: relative;
    box-shadow: 0px 8px 13px 2px rgba(0, 0, 0, 0.38)
}

.modale_article {
    font-size: 2.125em;
    width: 90%;
}

.modale_titre {
    margin: 15px 0 15px 0;
    font-weight: 400;
    font-size: 1.8em
}

.div_form {
    color: #312E2E;
    font-size: 1.563em;
    margin-top: 10px;
}

.modale_paragraphe {
    display: flex;
    flex-direction: column;
    margin: 1px 0 0 0;
}

.modale_paragraphe[data-error]::after {
    content: attr(data-error);
    font-size: 0.6em;
    color: #000000;
    display: block;
    margin: 2px 0;
    opacity: 0;
    transition: 300ms;
}

.modale_paragraphe[data-error-visible="true"]::after {
    opacity: 1;
}

.label-modale {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.input-modale {
    width: 599px;
    border-radius: 5px;
    border: none;
    height: 58px;
}

.input-modale:focus {
    outline: none;
}

.modale_paragraphe[data-error-visible="true"] .input-modale {
    border: 2px solid #f8021b;
}

.textarea-modale {
    height: 150px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.modale_paragraphe[data-error-visible="true"] .textarea-modale {
    border: 2px solid #f8021b;
}

.textarea-modale:focus {
    outline: none;
}

.button-envoi {
    color: white;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
}

.button-close {
    border: none;
    background-color: #DB8876;
    position: absolute;
    top: 25px;
    right: 25px;
}

.button-close::after {
    font: var(--fa-font-solid);
    content: "\f00d";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.5em;
}

.contact_modal_close {
    display: none;
}